.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.demoPage {
  box-shadow: inset 0 0 10px #5a5454;
}
.avatar1 {
  width: 300px;
  margin: auto;
  height: 75%;
}

.button {
  background-color: white;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.a {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px #5f5b5b;
}

.avatar {
  width: 200px;
  margin: auto;
}
.info {
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-header {
  background-color: #001f5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
