@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.demoPage {
  box-shadow: inset 0 0 10px #5a5454;
}

.avatar1 {
  width: 600px;
  margin: auto;
  height: 750px;
}

.welcomeText {
  font-family: "Poppins", sans-serif;
}
.button {
  margin: 10px;
  background-color: white;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: medium;
}

.firstPage {
  justify-content: center;
  margin: 200px;
}
.mainHeader {
  font-family: "Bangers", cursive;
  letter-spacing: 0.25rem;
  color: #2b3d44;
  text-shadow: 2px 2px 2px #4f999d;
}
.mainOne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.mainTwo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 300px;
  height: 380px;
  border: 2px solid #4f999d;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.808);
  border-radius: 5px;
  margin-bottom: 10px;
}
.text1 {
  text-align: center;
  font-size: xx-large;
}
.howHeaderMain {
  font-family: "Bangers", cursive;
  color: #531c28;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px white;
}
.howHeader {
  color: #2b3d44;
  text-shadow: 2px 1px 3px white;
  font-weight: bold;
  font-family: "Bangers", cursive;
}

.button1 {
  background-color: rgb(211, 211, 229);
  width: 180px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.a {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px #5f5b5b;
}

.avatar {
  width: 400px;
  height: 400px;
  margin: auto;
}

.info {
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
.info1 {
  font-size: xx-large;
  padding: 90px;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  text-align: center;
}

.App-header {
  background-color: #001f5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
